<?xml version="1.0"?>

<!-- Ansible Managed -->

<auth>
{% if galaxy_auth.ldap.enabled == true -%}
<!-- LDAP configuration, type: {{ galaxy_auth.ldap.options.ldap_type }} -->
  <authenticator>
    <type>ldap</type>
    <filter>{{ galaxy_auth.ldap.filter }}</filter>
    <options>
      {% for key, value in galaxy_auth.ldap.options.iteritems() -%}
      <{{ key }}>{{ value }}</{{ key }}>
      {% endfor -%}
    </options>
  </authenticator>
{% endif %}

{% if galaxy_auth.localdb.enabled == true -%}
<!-- localdb configuration -->
  <authenticator>
    <type>localdb</type>
    <options>
    <allow-password-change>{{ galaxy_auth.localdb.allow_password_change }}</allow-password-change>
    </options>
  </authenticator>
{% endif -%}
</auth>
